<div class="container">
  <h1>Gerador de Cartão de Visitas</h1>
  <form [formGroup]="form" (ngSubmit)="gerarCartao()">
    <div>
      <h2>Informações Pessoais</h2>
      <label for="name">Nome:</label>
      <input id="name" formControlName="name" required />

      <label for="age">Idade:</label>
      <input id="age" type="number" formControlName="age" required />

      <label for="phone">Telefone:</label>
      <input
        id="phone"
        formControlName="phone"
        mask="(00) 00000-0000"
        required
      />

      <label for="email">E-mail:</label>
      <input id="email" type="email" formControlName="email" required />
    </div>

    <div>
      <h2>Endereço</h2>
      <label for="address">Endereço:</label>
      <input id="address" formControlName="address" required />

      <label for="number">Número:</label>
      <input id="number" formControlName="number" required />

      <label for="neighborhood">Bairro:</label>
      <input id="neighborhood" formControlName="neighborhood" required />

      <label for="city">Cidade:</label>
      <input id="city" formControlName="city" required />
    </div>

    <div>
      <h2>Personalização do Cartão</h2>

      <label for="backgroundColor">Cor de Fundo:</label>
      <input
        id="backgroundColor"
        type="color"
        formControlName="backgroundColor"
        [style.backgroundColor]="form.value.backgroundColor"
      />

      <label for="textColor">Cor do Texto:</label>
      <input
        id="textColor"
        type="color"
        formControlName="textColor"
        [style.backgroundColor]="form.value.textColor"
      />

      <label for="iconColor">Cor dos Ícones:</label>
      <input
        id="iconColor"
        type="color"
        formControlName="iconColor"
        [style.backgroundColor]="form.value.iconColor"
      />
    </div>

    <button type="submit" [disabled]="form.invalid">Gerar Cartão</button>
  </form>

  <div class="card-contain">
    <div
      *ngIf="showCard"
      class="card"
      (click)="flipCard()"
      [class.flipped]="isFlipped"
      [ngStyle]="{
        'background-color': form.value.backgroundColor,
        color: form.value.textColor
      }"
    >
      <div class="card-front">
        <h1>{{ form.value.name }}</h1>
        <p>{{ form.value.age }} anos</p>
        <div class="contact">
          <p>
            <ng-icon
              name="heroEnvelopeSolid"
              [color]="form.value.iconColor"
              strokeWidth="2"
              size="1.5em"
            ></ng-icon>
            {{ form.value.email }}
          </p>
          |
          <p>
            <ng-icon
              name="heroPhoneSolid"
              [color]="form.value.iconColor"
              strokeWidth="2"
              size="1.5em"
            ></ng-icon>
            {{ formatPhone(form.value.phone) }}
          </p>
        </div>
      </div>
      <div class="card-back">
        <div class="address">
          <p>
            <ng-icon
              name="heroMapPinSolid"
              [color]="form.value.iconColor"
              strokeWidth="2"
              size="1.5em"
            ></ng-icon>
            {{ form.value.address }}, {{ form.value.number }} -
            {{ form.value.neighborhood }} -
            {{ form.value.city }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
